.bootstrap-notify-container{
  max-width:320px;
  /*text-align:center;*/
}
.bg-black{
  background-color:#000 !important;
  color:#fff;
}
.p-r-35{
  padding-right:35px;
}
.alert-dismissible .close{
  color:#fff;
  opacity:1;
  border:0;
  text-shadow:none;
	padding:0;
}

@media(max-width:767px){
	.navbar-nav div.dropdown-menu{
		background:transparent;
		border:0;
		padding-top:0;
	}
}
